//variables are here
$deepBlack: rgba(62, 79, 172, 0.99);
$fontFamily:'Roboto', sans-serif;
$fontSize: 18px;
$bottomBorder: 1px solid #1976d2;
$textColor:#374040;
$marginTop: 50px;
$marginBottom:100px;
$spanColor:#374040;