{% extends "index.html" %}
{%load static%}
<!--page for all information about admission of the web-->
{% block content %}


<div class="admissions container">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Admissions for 2020.</div>
            <div class="collapsible-body">
                <span>On approval of regulations on admission to higher education institutions, transfer, reinstatement and exclusion of students.
                      <br> <b>for whole information download below link ... </b><br>
                </span>
                <a class="waves-effect btn blue darken-2" href="https://drive.google.com/file/d/1IgsDCNvOwjlG3yFqtp527S5uOh9bBR8I/view?usp=sharing"><i class="material-icons left ">file_download</i>Download</a></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">group</i>For International Students</div>
            <div class="collapsible-body">
                <span>
                    <b>Education</b> <br>Academic year in NamSU continues from September to June (01.09-30.06). Duration of Study: Bachelor’s
                    Degree - 4 academic years; Master‘s Degree - 2 academic years; Doctoral Degree (PhD, DSc) - 3 (4) academic
                    years, depending on the Faculty (field of study). <br> Our programs are available to study full time at all faculties.
                    Enrolling to the NamSU is based on the on the interview.<br> For additional information, please contact to the Admission
                    committee. As a rule, study in NamSU is conducted in Russian and Uzbek, so good preliminary language training is required.<br>
                    <b>for whole information download below link ... </b><br>
                </span>
                <a class="btn tooltipped waves-effect blue darken-2" href="https://drive.google.com/file/d/1wNdcErF-4a2-scbZemA78gFDMN7xceVp/view?usp=sharing" data-position="top" data-tooltip="International Students"><i class="material-icons left ">file_download</i>Download</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">report</i>Note for applicants</div>
            <div class="collapsible-body">
                <span>
                    Applicants must submit the relevant documents to the Admissions Office, the information corresponding to the submitted documents
                    must confirm that it is entered correctly in the applicant database. Upon completion of the admission process, the applicant
                    appeals (complaints) are not taken into account. The applicant will take the test on the date and time specified in the permit..
                    <br> <b>During the test, the applicant has the following rights: </b> <br>- use the questionnaire as a draft; <br>
                    - complete test assignments ahead of schedule, then group test materials in ord hand over to the supervisor and leave the test site. <br>
                    - On the day of the test, the applicant will enter the building at 07:00 (second shift at 13:00).to the building until 07:30 (second
                    shift at 13:30) only with the applicant's permission and passport systematic access through personal identification devices and video
                    recording devices, -test with strict adherence to the rules of testing, in the first shift from 07:30 to 08:00in the second shift from
                    14:30 to 15:00 have to do the following: <br>- check the compatibility of the test book and the corresponding numerical answer sheets; <br>
                    - check the integrity of the test materials and immediately notify the group supervisor if any defects are found to give; <br>
                    - ensure that the answer sheet is completed correctly; <br> - last name, first name, patronymic in the appropriate place on the cover
                    of the test book and on the answer sheet write your name and sign; <br> - Copy and paste the answer sheet number in the appropriate place
                    on the applicant's permit and title page put <br>- the special code indicated on the title page and the code of the educational institution
                    in the place indicated on the answer sheet Copy and paste the appropriate circles. <br><b>for whole information download below link ... </b><br>
                </span>
                <a class="waves-effect btn blue darken-2" href="https://drive.google.com/file/d/13ixjl3QGtkuH1HvBMWqgmoc6hi-pVNaI/view?usp=sharing"><i class="material-icons left ">file_download</i>Download</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">today</i>Admission plan for the 2020 academic year</div>
            <div class="collapsible-body">
                <span>Namangan State University schedule for 2020 Academic year undergraduates by each major: <br>
                <b>download schedule below link ... </b><br>
                </span>
                <a class="waves-effect btn blue darken-2" href="https://drive.google.com/file/d/1GCSSMgiN3dwbSVdVpaRR0tLOpDGEPlaA/view?usp=sharing"><i class="material-icons left ">file_download</i>Download</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">streetview</i>Creative exam results for the 2019-2020 academic year</div>
            <div class="collapsible-body"><span>During 2019 and 2020, the number of applicants to creative exams are increased sharply. Creative exam results for the 2019-2020 academic year
            <br><b>check all last year scores below link ... </b><br></span><a class="waves-effect btn blue darken-2" href="https://drive.google.com/file/d/14mIPvuFiMbOYUsRDnQxweykxg40LVG5A/view?usp=sharing"><i class="material-icons left ">file_download</i>Download</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">visibility</i>2019-2020 academic year students scores</div>
            <div class="collapsible-body">
                <span>2019-2020 academic year students scores.<br><b>check all last year scores below link ... </b><br>
                </span><a class="waves-effect btn blue darken-2" href="https://drive.google.com/file/d/1Ar8ZU1pLEdng4om-RAgJlVvdnmlYWIoj/view?usp=sharing"><i class="material-icons left ">file_download</i>Download</a>
            </div>
        </li>
    </ul>

</div>


{% endblock content %}