{% extends "index.html" %}
{% load static %}
{% block content %}
<!--here you can navigate each news-->

<div class="campus container">
    <h2>Namangan State University</h2>
    <div class="row">
        <div class="col s4">
            <img src="{% static 'images/logo2.png' %}" class="responsive-img" style="height: 120px;" alt="My image" >
        </div>
        <div class="col s8">
            <p class="flow-text">
                Namangan State University established in 1941 as a pedagogical college and obtained university status in 1992.
                The university is considered one of the best universities in Uzbekistan, with a strong educational potential aimed
                at using the most modern technology in training.
            </p>
        </div>

    </div>
    <p class="flow-text">The university is an educational center with a wide range of study
        programs which is traditional for a classic universities, where the humanitarian and natural sciences are complemented
        by training of specialists in the labor market in economics, services, agriculture, etc.All conditions have been created
        so that university education can become a solid foundation for expanding the professional potential of graduates.
        The university has all the necessary conditions for learning: academic buildings, provided with all the necessary
        equipment for the audience, modern laboratories, a comfortable university hostel, a sports and fitness complex.
        <br>The university conducts successful cooperations with foreign universities. Teaching staff and talented students
        are regularly sent to advanced foreign higher educational institutions to take part in internship programs and seminars.
        In recent years, the university has managed not only to preserve its scientific potential, but also to noticeably strengthen
        it, while constantly developing ties with the business community, with all the leading enterprises in the region.
        <br><h5>Available languages to teach students: </h5>
    </p>
</div>
<div class="row container languages">

    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">English</a>

    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">German</a>

    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">French</a>

    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">Russian</a>

    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">Arabic</a>

    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn blue darken-2">Korean</a>

    </div>
</div>


   <div class="row extra_part">
       <div class="parallax-container">
           <div class="parallax">
               <div class="row container">
                   <div class="staff_number col s6">
                       <table class="highlight striped responsive-table ">
                           <thead>
                           <tr>
                               <th>Specialists</th>
                               <th>Number of specialists</th>

                           </tr>
                           </thead>

                           <tbody>
                           <tr>
                               <td>Teaching stuff</td>
                               <td>600</td>

                           </tr>
                           <tr>
                               <td>Doctors of sciences</td>
                               <td>17</td>

                           </tr>
                           <tr>
                               <td>Candidate of Science</td>
                               <td>165</td>

                           </tr>
                           <tr>
                               <td>Undergraduate Students</td>
                               <td>10 000</td>

                           </tr>
                           <tr>
                               <td>Master Students</td>
                               <td>220</td>

                           </tr>
                           <tr>
                               <td>Doctoral students</td>
                               <td>42</td>

                           </tr>
                           <tr>
                               <td>Pupils of Academic lyceum</td>
                               <td>1600</td>

                           </tr>
                           <tr>
                               <td>Ibrat school students</td>
                               <td>1200</td>

                           </tr>
                           </tbody>
                       </table>

                   </div>
                   <div class="staff_number col s6">
                       <table class="highlight striped responsive-table ">
                           <thead>
                           <tr>
                               <th>Faculties of Namangan State University:</th>
                           </tr>
                           </thead>

                           <tbody>
                           <tr>
                               <td>Faculty of physics and mathematics</td>
                           </tr>
                           <tr>
                               <td>Faculty of natural sciences</td>
                           </tr>
                           <tr>
                               <td>Faculty of English language</td>
                           </tr>
                           <tr>
                               <td>Faculty of pedagogy</td>
                           </tr>
                           <tr>
                               <td>Faculty of physical culture</td>
                           </tr>
                           <tr>
                               <td>Faculty of social and economics</td>
                           </tr>
                           <tr>
                               <td>Faculty of professional education</td>
                           </tr>
                           <tr>
                               <td>Center of coordinating the Joint Programs.</td>
                           </tr>
                           </tbody>
                       </table>

                   </div>
               </div>

           </div>
       </div>

   </div>




    <div class="container departments">
        <table class="striped">
            <thead>
            <tr>
                <th><h4>Departments of Namangan State University</h4></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Physics</td>
            </tr>
            <tr>
                <td>Mathematics</td>
            </tr>
            <tr>
                <td>Differential equation and mathematical physics</td>
            </tr>
            <tr>
                <td>Applied mathematics and information technology</td>
            </tr>
            <tr>
                <td>Biology</td>
            </tr>
            <tr>
                <td>Chemistry</td>
            </tr>
            <tr>
                <td>Geography</td>
            </tr>
            <tr>
                <td>Ecology</td>
            </tr>
            <tr>
                <td>English language and literature</td>
            </tr>
            <tr>
                <td>Methods of teaching English</td>
            </tr>
            <tr>
                <td>Practical course of English language</td>
            </tr>
            <tr>
                <td>Inter-facility foreign language</td>
            </tr>
            <tr>
                <td>Uzbek language and literature</td>
            </tr>
            <tr>
                <td>German and French language</td>
            </tr>
            <tr>
                <td>Russian language and literature</td>
            </tr>
            <tr>
                <td>Pedagogy an philology</td>
            </tr>
            <tr>
                <td>Methodology of educating the primary school</td>
            </tr>
            <tr>
                <td>Methodology of preschool education</td>
            </tr>
            <tr>
                <td>Musical education and socio-cultural activities</td>
            </tr>
            <tr>
                <td>Theory of pysical culture and teaching methods</td>
            </tr>
            <tr>
                <td>Sport activities</td>
            </tr>
            <tr>
                <td>Basics of physiology and virology</td>
            </tr>
            <tr>
                <td>History</td>
            </tr>
            <tr>
                <td>Archive students</td>
            </tr>
            <tr>
                <td>Economics</td>
            </tr>
            <tr>
                <td>The national idea and principles</td>
            </tr>
            <tr>
                <td>Visual arts and engineering graphics</td>
            </tr>
            <tr>
                <td>Professional education</td>
            </tr>

            </tbody>
        </table>


    </div>
{% endblock content %}