{% extends "index.html" %}
{% load static %}
{% block content %}
<table class="highlight majors container">
    <thead>
    <tr>
        <th>Class Name</th>
        <th>Class Language</th>
        <th>Class Code</th>
    </tr>
    </thead>

    <tbody>
    <tr class="table_hover">
        <td>Mathematics</td>
        <td>Uzbek and Russian</td>
        <td>5130100</td>

    </tr>
    <tr class="table_hover">
        <td>Music Education</td>
        <td>Uzbek and Russian</td>
        <td>5111100</td>
    </tr>
    <tr class="table_hover">
        <td>Uzbek Language</td>
        <td>Uzbek</td>
        <td>5142000</td>
    </tr>
    <tr class="table_hover">
        <td>Uzbek Literature</td>
        <td>Uzbek</td>
        <td>2147200</td>
    </tr>
    <tr class="table_hover">
        <td>Foreign Language</td>
        <td>Uzbek, English and Russian</td>
        <td>5142540</td>
    </tr>
    <tr class="table_hover">
        <td>Physics</td>
        <td>Uzbek</td>
        <td>3147511</td>
    </tr>
    <tr class="table_hover">
        <td>Computer Science</td>
        <td>Uzbek and English</td>
        <td>7142785</td>
    </tr>
    <tr class="table_hover">
        <td>Chemistry</td>
        <td>Uzbek and Russian</td>
        <td>3142789</td>
    </tr>
    <tr class="table_hover">
        <td>Russian Literature</td>
        <td>Russian</td>
        <td>3142074</td>
    </tr>
    <tr class="table_hover">
        <td>Art</td>
        <td>Uzbek, English and Russian</td>
        <td>9142111</td>
    </tr>
    <tr class="table_hover">
        <td>Architecture</td>
        <td>Uzbek</td>
        <td>3149711</td>
    </tr>
    <tr class="table_hover">
        <td>History</td>
        <td>Uzbek and Russian</td>
        <td>7142411</td>
    </tr>
    <tr class="table_hover">
        <td>Geography</td>
        <td>Uzbek</td>
        <td>3142012</td>
    </tr>
    <tr class="table_hover">
        <td>Tourism</td>
        <td>Uzbek and English</td>
        <td>9142141</td>
    </tr>
    <tr class="table_hover">
        <td>Logistics</td>
        <td>Uzbek</td>
        <td>3732011</td>
    </tr>
    <tr class="table_hover">
        <td>Economics</td>
        <td>Uzbek and Russian</td>
        <td>6842011</td>
    </tr>
    <tr class="table_hover">
        <td>Philosophy</td>
        <td>Uzbek and Russian</td>
        <td>4732011</td>
    </tr>
    <tr class="table_hover">
        <td>Zoology</td>
        <td>Uzbek and Russian</td>
        <td>9842011</td>
    </tr>

    </tbody>
</table>





{% endblock content %}