{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row our_team ">
        <div class="col s4 m4">
            <div class="card hoverable " >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card hoverable" >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons ">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card hoverable" >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row our_team">
        <div class="col s4 m4">
            <div class="card hoverable" >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card hoverable" >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card hoverable" >
                <div class="card-image">
                    <img  src="{% static 'images/banner01.jpg' %}" alt="My image" > <!-- random image -->
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>

</div>





{% endblock content %}